* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

body {
	background: #ddd;
}

canvas {
	display: block;
	background: #eaeaea;
	margin: 50px auto;
	box-shadow: 0 5px 20px #aaa;
}

#imgShelf {
	display: none;
}
