<div class="nav nav-list well" ng-controller="SettingsController" id="SettingsController">
    <p class="nav-header">Tileset Settings</p>

    <div class="settingsBox">
        <label>Tile size</label>

        <p>
            <input type="number" value="{{tile.width}}"/>
            <input type="number" value="{{tile.height}}"/>
        </p>

        <label>Tile margin </label>

        <p>
            <input type="number" value="{{tile.margin}}"/>
        </p>

        <p>
            <button class="btn btn-danger" ng-click="upload()">Select Image<input type="file"/></button>
        </p>
    </div>
</div>
