<div class="nav nav-list well" ng-controller="SettingsController" id="SettingsController">
    <p class="nav-header">Tileset Settings</p>

    <div class="settingsBox">
        <label>Tile size</label>

        <p>
            <input type="number" value="{{tile.width}}" ng-change="imgChange()" ng-model="tile.width"/>
            <input type="number" value="{{tile.height}}" ng-change="imgChange()" ng-model="tile.height"/>
        </p>

        <label>Tile margin </label>

        <p>
            <input type="number" value="{{tile.margin}}" ng-change="imgChange()" ng-model="tile.margin"/>
        </p>

        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-preview fileupload-exists thumbnail" id="tileSettingsPrivew"></div>
            <div>
                <span class="btn btn-file btn-danger">
                    <span class="fileupload-new">Select image</span>
                    <span class="fileupload-exists">Change image</span>
                    <input type="file" onchange="angular.element(this).scope().imgChange()" ng-model="img" accept="image/*"/>
                </span>
            </div>
        </div>

        <div id="TilesetController">
            <div class="tileImg" ng-repeat="frame in frames.pos">
                <span
                        class="tileImgBg {{frame.isActive}}"
                        style="background: url({{frames.img}}) -{{frame.x}}px -{{frame.y}}px;"
                        ng-click="setTile($index)"></span>
            </div>
        </div>
    </div>
</div>
